body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    padding-left: 1.3rem;
    background-color: #fff;
}
.navbar-brand{
    color: #fe424d;
    font-size: 1.5rem;
    font-weight: 400;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info{
    height: 10rem;
    text-align: center;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
    opacity: 0.8;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
}
.f-info-socials i{
    font-size: 1.2rem ;
    margin: 0 0.5rem;
}

/* Cards */
.listing-card{
    border: none;
    /* height: 20rem; */
    margin-bottom: 2rem;
}
.card-img-top{
    /* height: 75%; */
    width: 100% !important;
    border-radius: 1.5rem;
    object-fit: cover !important;
}
.card-body{
    padding: 0.4rem;
}
.card-body p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #fff;
}

/* New Page, Edit Page */
.btn-dark{
    background-color:#fe424d;
    border: none;
}
.btn a{
    text-decoration: none;
    color: #fff;
}

/* Show Page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.delete-btn{
    background-color: black;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* .card-text b{
    font-size: 1.5rem;
} */

/* Map */
#map {
    height: 400px;
    width: 80vh;
    border-radius: 12px;
}

/* Search Bar */
.search-btn {
border: 1px solid #fe424d;
border-radius: 1.5rem;
padding: 0 1rem 0;
}

.search-btn:hover {
background-color: #fe424d;
color: #fff;
}

.search-btn i {
display: inline;
margin-right: 0.5rem;
}

.search-input {
border-radius: 1.5rem;
padding: 0.5rem 2rem 0.5rem;
width: 25rem;
}

/* Filters */
#filters {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1rem;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    opacity: 0.8;
}
.filter:hover, .tax-toggle:hover, .filter-switch:hover{
    opacity:1;
    cursor:pointer;
}
.filter p{
    font-size: 0.8rem;
}

/* Tax */
.tax-info {
    display: none;
}
.tax-toggle, .filter-switch {
    border: 1px solid black ;
    border-radius: 1rem;
    height: 3rem;
    margin: -10px 0.75rem 0.5rem 0;
    padding: 3px 12px 8px 12px;
    opacity: 0.9;
}
.filter-switch {
    padding-top: 0.75rem;
}

